.bar {
  flex-direction: column;
  color: var(--gray-2);

  &__information {
    justify-content: space-between;
    margin-bottom: 1.5px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
  }

  &__full {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--gray-1);
  }

  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    border-radius: 48px;
    background-color: var(--yellow);
  }

  &__perc {
    margin-top: 2px;
    align-self: flex-end;
  }
}
