.content {
  grid-column: content-start/content-end;
  background-color: var(--blue-2);
  padding: 14rem 0;

  &__incoming {
    // display: flex;
    display: grid;
    // justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
    margin: 0 auto;
    width: 85%;

    // flex: 0 0 90%;
  }

  &__wrapper {
    display: grid;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));

    // width: 85%;
    gap: 5rem;
  }

  &__details {
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
  }

  &__title {
    // margin-left: 7rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--gray-1);
    margin-bottom: 3.5rem;
  }
}
