.nav-cta {
  justify-content: space-between;
  transform: translateY(-10rem);
  width: 80%;
  margin: 0 auto;
  backface-visibility: hidden;
  // transition: all 0.2s;

  &__wrapper {
    background-color: var(--gray-1);
    width: 8rem;
    // display: flex;
    // display: block;
    justify-content: unset;
    outline: none;
    

    border-radius: 48px;
    backface-visibility: hidden;
    transition: all 0.2s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    // & > *:not(:last-child) {
    //   margin-right: 1rem;
    // }
  }
  &__rounded {
    // display: none;
    // opacity: 0;
    display: flex;
    // justify-content: center;
    // align-items: center;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 50%;
    // background-color: var(--gray-5);
    // color: var(--gray-1);
    // overflow: hidden;

    backface-visibility: hidden;


    background-color: var(--gray-5);
    color: var(--gray-1);
    transform: scale(1.15);
    transition: all 0.2s;
  }

  // .unchecked {
  //   opacity: 0;
  //   transform: scale(0.8);
  // }

  .left {
    // margin-left: auto;
    animation: slow-left 0.6s forwards;
    // width: 2.5rem;
    // height: 2.5rem;
    // font-size: 1.5rem;
    // background-color: var(--gray-5);
    // color: var(--gray-1);
    // transform: scale(1.15);

    // background-color: var(--gray-5);
    // color: var(--gray-1);
    // transform: translateY(1px);
    // 0 2px 10px rgb(134 181 212 / 71%)
    // cursor: not-allowed;
    // box-shadow: 0 0 5px #666;
  }

  .right {
    // margin-right: auto;
    animation: slow-right 0.6s forwards;
  }
}

@keyframes slow-left {
  0% {
    margin-left: auto;
    transform: scale(1.1);
    // opacity: 0.5;
  }

  // 25% {
  //   transform: scale(0.95);
  // }

  // 75% {
  //   transform: scale(1.05);
  // }

  // 50%{
  //   margin: 0 auto;
  // }

  100% {
    margin-right: auto;
    // opacity: 1;
  }
}

@keyframes slow-right {
  0% {
    margin-right: auto;
    transform: scale(1.1);
    // opacity: 0.5;
  }

  // 25% {
  //   transform: scale(0.95);
  // }

  // 75% {
  //   transform: scale(1.05);
  // }

  100% {
    margin-left: auto;
    // opacity: 1;
  }
}
