.nav-cta {
  justify-content: space-between;
  transform: translateY(-10rem);
  width: 80%;
  margin: 0 auto;
  backface-visibility: hidden;


  &__wrapper {
    background-color: var(--gray-1);
    width: 8rem;
    justify-content: unset;
    border-radius: 48px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

  }
  &__rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: var(--gray-5);
    color: var(--gray-1);
    transform: scale(1.15);
    transition: all .5s;
  }
}
