.search {
  &__close {
    position: absolute;
    top: 4rem;
    right: 3rem;
    color: var(--gray-1);
    font-size: 2.6rem;
    background-color: transparent;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 6rem;

    // @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: unset;
    // }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    // @media only screen and (max-width: 750px) {
    //   width: auto;
    //   // align-self: stretch;
    // }


  }

  &__icon {
    position: absolute;
    padding-left: 1.5rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    padding: 1.5rem;
    padding-left: 3.5rem;
    width: 25rem;
    border: 1px solid var(--gray-2);
    outline: none;
    color: var(--gray-1);
    background-color: var(--blue-1);
    transition: all 0.2s;

    &::placeholder {
      color: var(--gray-4);
    }

    &:focus {
      box-shadow: 0 2px 10px var(--gray-2);
      // box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 8);
    }

    // @media only screen and (max-width: 800px) {
      width: 100%;
    // }
  }

  &__results {
    display: flex;
    padding: 2rem 0;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    // height: 40vh;
    max-height: 80vh;
    overflow: auto;

    @media only screen and (max-width: 750px) {
      height: 40vh;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 1.6rem;
    font-family: inherit;
    line-height: 1.8rem;
    padding: 1.65rem 2rem;
    // background-color: var(--special);
    background-color: var(--blue-3);
    color: var(--gray-1);

    // @media only screen and (max-width: 800px) {
      margin-top: 2rem;
      align-self: center;
    // }
  }

  &__error {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: rgb(177, 56, 56);
  }

  &__result {
    width: 100%;
    padding: 2.3rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--gray-1);
    background-color: var(--blue-1);
    border: 1px solid transparent;
    margin: 5rem 0;
    transition: all 0.2s;

    &:hover {
      border: 1px solid var(--gray-4);
    }

    &:hover .search__arrow-icon {
      opacity: 1;
      visibility: visible;
    }
  }

  &__arrow-icon {
    opacity: 0;
    visibility: hidden;
  }

}

.center {
  justify-content: center;
  align-items: center;
}
