.sidebar {
  grid-column: sidebar-start / sidebar-end;
  position: relative;
  background-color: var(--blue-1);
  padding: 4.2rem;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/Cloud-background.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    opacity: 0.05;
    z-index: -1;
  }

  &__cto {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  &__search,
  &__user-location {
    background-color: var(--gray-6);
    color: var(--gray-1);
  }

  &__search {
    padding: 1rem 1.7rem;
  }

  &__user-location {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__weather-box {
    display: flex;
    justify-content: center;
    margin: 9rem 0;
  }

  // &__weather-img {
  //   width: 100%;
  // }

  &__temp,
  &__date,
  &__type {
    text-align: center;
  }

  &__number {
    font-size: 14rem;
    font-weight: 500;
    line-height: 17rem;
    color: var(--gray-1);
  }

  &__mess {
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 5.6rem;
    color: var(--gray-3);
  }

  &__type {
    margin: 9rem 0;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.2rem;
    color: var(--gray-2);
  }
  &__date,
  &__location {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--gray-3);
  }

  &__date {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    font-weight: 500;

    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-weight: 600;

    :last-child {
      margin-left: 8px;
    }
  }
}
