.value-type {
  text-align: center;
  &__number {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.5rem;
    margin-right: 1rem;
  }

  &__measure {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}
