.arrow-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--gray-4);
}

.gps {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--gray-1);
}

.location {
  width: 2rem;
  height: 3rem;
  fill: var(--gray-3);
}

.navi {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--gray-1);
}

.search-icon {
  width: 3rem;
  height: 2.5rem;
  fill: var(--gray-4);
}
