.modal {
  width: 50rem;
  height: 25rem;
  grid-column: sidebar-start / content-end;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 400px) {
    width: 35rem;
  }

  &__paragraph {
    color: var(--gray-1);
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;

    @media only screen and (max-width: 400px) {
      font-size: 1.5rem;
    }
  }
}
