.spinner {
  display: flex;
  justify-content: center;
  // align-items: center;

  margin: 0 auto;
  // margin-top: 10rem;

  // width: 15rem;
  // height: 15rem;

  &::after {
    content: '';
    width: 5rem;
    height: 5rem;
    border: 10px solid var(--gray-2);
    border-top-color: var(--blue-3);
    border-radius: 50%;
    animation: spin 1s ease infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
